html { 
    background: url(black-gal.jpg) no-repeat center center fixed; 
    background-size: cover;
}

body {
    color: white;
    text-align: center;
}

/****************/
.btn-hover {
    width: 40%;
    height: 10%;

    font-size: 10px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin: 20px; 
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 5px;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    position: absolute;
    padding: 0;
    bottom: 2.5vh;
    left: 0;
    right: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 0.5em;
    padding-bottom: 0.5em; */

    width: 50%;
    height: 7vh;
    font-size: 4vh;

    background-image: linear-gradient(to top, #0a3100, #125200, #0a3100);
    box-shadow: 0 2px 12px 0 rgba(0, 128, 0, 0.4);
}

.record {
    margin: 1em auto;
    width: 90%;
    height: 1.5em;

    padding: 0.5em;

    overflow: hidden; 
    text-align: center;

    background: rgba(27, 28, 22, 0.8);
    box-shadow: 0 2px 12px 0 rgba(0, 128, 0, 0.4);
}

#high-scores {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh; 
    margin-left: 25%;
    margin-right: 25%;

    width: 50%;
    height: 75vh;

    background: rgba(27, 28, 22, 0.5);
    box-shadow: 0 2px 12px 0 rgba(0, 128, 0, 0.4);
}

#main-title {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 6vh;
    text-align: center;
}

#high-scores-title {
    position: relative;
    padding: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0;
    height: 5%;
    font-size: 4vh;
    text-align: center;
}

#rectangle{
    position: relative;

    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    overflow: hidden; 
    overflow-y: auto;

    width: 90%;
    height: calc(90% - 2em);
}

#highscores-scrollarea {
    padding: 0;
}

#user-name {
    float:left;
    font-size: 1.25em;

    margin-left:10%;
    text-align:center;
}

#score {
    float:right;
    font-size: 1.25em;

    margin-right:10%;
    text-align:center;
}