body {
    font-family: Arial, sans-serif;
    background: url(black-gal.jpg) no-repeat center center fixed; 
    background-size: cover;
  }
  
  h1 {
    text-align: center;
    color: #06D85F;
    margin: 80px 0;
  }
  
  .no-color-link {
    color: #fff !important;
  }

  .highlighted-info {
    color: #06D85F;
  }

  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1.5em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .start_popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
  }
  .start_popup:target {
    visibility: visible;
    opacity: 1;
  }
  
  .startgame-popup {
    margin: auto;
    margin-top: 35vh;
    margin-bottom: 35vh;

    padding: 20px;
    background-color: #333333;
    border: 2px solid #fff;
    border-radius: 50px/50px;
    width: 30%;
    height: 30vh;
    position: relative;
    transition: all 0s ease-in-out;
  }
  
  .startgame-popup h2 {
    color: #06D85F;
    text-align: center;
    margin-top: 0.5vh;
    font-size: 5vh;
  }
  
h3 {
  color: #fff;
  text-align: center;
  vertical-align: middle; 
  align-self: center;

  margin: auto;
}
  /*
    This is the x in the topleft corder hover fucntionality.
    TODO: Check if it is possible to merge it with .ingamepopup .close
  */
  .startgame-popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 0ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(1, 133, 56);
  }
  .startgame-popup .close:hover {
    color: #06D85F;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

.flex-form {
  border: 2px solid white;
  width: 100%;
  display: flex;
  position: relative;
  border-radius: 5px;
}

#fname {
  padding: 0;
}

/* Probobly use class! */
.flex-form > * {
  border: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  width: 100%;

  height: 6vh;
  background: #000;
  line-height: 50px;
  font-size: 1.5em;
  outline: 0;
  color: white;  
  background-color: rgba(0, 0, 0, 0);
}

.start-button {
  position: relative;
  padding: 0 0;
  margin: 0;
  margin-top: 2vh;

  display: flex; 

  font-size: 1.5em;
  height: 6vh;
  width: 100%;
  color: #fff;

  border: 2px solid #06D85F;
  border-radius: 5px;

  text-decoration: none;
  cursor: pointer;
}

.start-button:hover {
  background-color: #06D85F;
  color: white;
}

/****************************************************************/
.ingame-popup {
    position: relative;
    margin: auto;
    margin-top: calc(33vh / 2);

    padding: 20px;
    background-color: #333333;
    border: 2px solid #fff;
    border-radius: 25px/25px;
    width: 50%;
    height: 66vh;
} 

.ingame-popup h2 {
  color: #fff;
  text-align: left;
  margin-top: 0.5vh;
  font-size: 2.5vh;
}

.ingame-popup h3 {
  color: #FFF;
  text-align: left;
  margin-top: 0.5vh;
  font-size: 2vh;
}

.ingame-popup a {
  color: #06D85F;
  margin-top: 0.5vh;

  text-decoration: none;
}

.ingame-popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 3vh;
    font-weight: bold;
    text-decoration: none;

    color: #fff;
}

.ingame-popup .close:hover {
    color: #06D85F;
}

/** EXPERIMENTAL: **/
#flyingspacecraft-popup .space {
    background-color: #000; 
    border: solid 2px #fff;

    margin: 0;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
    height: 35vh;

    overflow: hidden;
}

#flyingspacecraft-popup .spacecraft-icon {
  /* These are base values for all planets: */
  position: relative;
  margin: auto;

  width: 80%;
  height: auto;

  max-height: 20vh;
  max-width: calc(20vh * 1600 / 864);

  position: relative;
  top: 20%;
  left: 10%;  

  animation: spacemove 3s linear infinite;
}

/** SPARKS **/
#one {
  background-color: #fff;
	height: 5px;
	width: 3px;
  top: 100px;
  z-index: 1;
  margin: 0;
  margin-top: 5vh;
  float: right;
  border-radius: 50%;

	animation: twinkle 2s linear infinite;
}

@keyframes  spacemove { 
  10% {top: calc(20% + 0px); }
  35% { transform: rotate(-2deg);}
  40% {top: calc(20% + 5px); }
  60% { transform: rotate(0deg);}
  80% { transform: rotate(1deg); }
  100% {top: calc(20% + 0px); }  
}

@keyframes twinkle {
	0% { opacity: 1;}
	50% { opacity: 1;}
  100% { opacity:0; } 
  100% {transform: translate(-1000px, 0);} 
}

.button {
  width: 50%;

  font-size: 4vh;
  font-weight: 600;
  color: white;
  cursor: pointer;
  text-align: center;
  text-overflow: ellipsis;

  border-radius: 5px;

  color: #fff;
  border: 2px solid #06D85F;
  text-decoration: none;
  cursor: pointer;

  color: #06D85F;
  text-align: center;
  margin-top: 0.5vh;
  font-size: 2vh;

  text-decoration: none;
}

.button:hover {
  background-color: #06D85F;
  color: white;
}

/** **/
#leaveplanet {
  position: absolute;

  padding: 0;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  left: 0;
  right: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 2.5vh;
}

#tradebtn {
  color: #06D85F;
  text-align: center;
  margin: auto;
  margin-top: 0.5vh;
  font-size: 2vh;
  border: 2px solid white;

  text-decoration: none;
}

/** Trade amount form: **/
.trade-form {
    margin: auto;
    margin-top: 1vh;
    border: 2px solid white;
    width: 66%;
    height: 3vh;
    position: relative;
    border-radius: 5px;
}
.trade-label {
    margin: auto;
    text-align: right;
}

/* Probobly use class! */
.trade-form > * {
    border: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    font-size: 2vh;

    background: #000;
    outline: 0;
    color: white;  
    background-color: rgba(0, 0, 0, 0);
}

.trade-board {
  border: 2px solid #fff; 
  margin: auto; 
  margin-top: 2vh;
  width: 75%; 
  height: 40vh; 
}

.trade-board h3 {
  text-align: center;
}

.mineral-arrow {
  width: 8vh; 
  height: 5vh;
}

#next-mineral-arrow {
  float: right;
}

#prev-mineral-arrow {
  transform: scaleX(-1);
  float: left;
}

/** Start to another planets: **/

#planets-scorllarea{
  position: relative;

  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  overflow: hidden; 
  overflow-y: auto;

  width: 90%;
  height: calc(90% - 2em);
}

.planets-record {
  color: #fff;

  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 1.5vh;

  width: 90%;
  height: 3vh;
  
  font-size: 2.5vh;

  overflow: hidden; 
  text-overflow: ellipsis;
  text-align: center;

  border-radius: 2.5px;
  border: 1px solid #fff;
  background: rgba(255,255,255,0.2);
}
