body {
	text-align: center;
	background-color: #FFFFEC;
}

h1 {
	margin-top: 50px;
	font-size: 50px;
	color: #153E68;
}

.circle {
	position: relative;
	margin: auto;
	height: 300px;
	width: 300px;
	background: #000;
}

li {
	position: relative;
	background-color: #FFFFEC;
	list-style: none;
	border-radius: 100%;
}

#one {
  color: red;
  background-color: red;
	height: 5px;
	width: 3px;
	top: 10px;
	z-index: 1;
	left: 133px;
	animation: twinkle 2s linear infinite;
}

#two {
  color: red;
	width: 2px;
	height: 4px;
	left: 90px;
	top: -140px;
	z-index: 1;
	animation: twinkle 2s linear infinite;
}

#three {
  color: red;
	width: 4px;
	height: 7px;
	top: -250px;
	left: 20px;
	animation: twinkle 1.5s linear infinite;
}

#four {
  color: red;
	width: 3px;
	height: 6px;
	top: -100px;
	left: 230px;
	z-index: 1;
	animation: twinkle 3s linear infinite;
}

#five {
  color: red;
	width: 2px;
	height: 4px;
	left: 220px;
	top: -289px;
	z-index: 1;
	animation: twinkle 4s linear infinite;
}

@keyframes twinkle {
	0% { opacity: 1;}
	50% { opacity: 1;}
	100% { opacity:0; top: 400px;}
}

.spaceship {
	position: relative;
	width: 50px;
	height: 100px;
	left: 115px;
	top: 50px;
}

.body {
	position: relative;
	border-left: 35px solid #FFB4FF;
	border-right: 35px solid #E6A2E6;
	height: 120px;
	background-color: grey;
	border-bottom: 10px solid #BA83BA;
	z-index: 1;
}

